<%include header.ejs %>



	<header class="header_area">
		<div class="main_menu">
			<%include navbar.ejs %>
		</div>
	</header>

	<!--================Home Banner Area =================-->
	<section class="banner-area owl-carousel" >
		<div class="single_slide_banner slide_bg1">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center">
					<div class="banner-content col-lg-12 justify-content-center">
						<h1>ABOUT</h1>
						<h3>Purpose of this Website</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================ Start Portfolio Details Area =================-->
	<section class="portfolio_details_area section_gap">
		<div class="container">
			<div class="portfolio_details_inner">
				<!--<div class="row">
					<div class="col-md-6">
						<div class="left_img">
							<img class="img-fluid" src="img/works/project-details-1.jpg" alt="">
						</div>
					</div>
					<div class="offset-md-1 col-md-5">
						<div class="portfolio_right_text mt-30">
							<h4>Lavendar ambient colorlib</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
								dolore
								magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
							<ul class="list">
								<li><span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
									 class="fa fa-star"></i></li>
								<li><span>Client</span>: colorlib</li>
								<li><span>Website</span>: colorlib.com</li>
								<li><span>Completed</span>: 17 Aug 2018</li>
							</ul>
							<ul class="list social_details">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
							</ul>
						</div>
					</div>
				</div>-->
				<p>The purpose for this site is to show my current experience as a Full-Stack Developer/Web Software Engineer. Since I did begin creating the website on 3/16/2019 I won't have an exhaustive list for all the work I have currently put into the projects mentioned on the site, but do plan to populate each section for every project with the most amount of detail I can possible. I plan to continue developing and enjoying my career as a Web Developer and want to be able to showcase my skills by the way I was able to develop this responsive Web Portfolio using backend frameworks such as Express/Nodejs, frontend frameworks such as Bootstrap, and the CSS libraries used with the prebuilt theme shown.</p>
				<p></p>
			</div>
		</div>
	</section>
	<!--================ Start Portfolio Details Area =================-->

	<% include footer.ejs %>

	<script>
	  $('.owl-carousel').owlCarousel({
	  	mouseDrag: false,
	  	pullDrag: false,
	  	touchDrag: false
	  });
	</script>

  </body>
</html>
