<% include header.ejs %>


	<header class="header_area">
		<div class="main_menu">
		<% include navbar.ejs %>
		</div>
	</header>

	<!--================Home Banner Area =================-->
	<section class="banner-area owl-carousel" id="home">
		<div class="single_slide_banner slide_bg1">
			<div class="container">
				<div class="row fullscreen d-flex align-items-center">
					<div class="banner-content col-lg-12 justify-content-center">
						<h1>Jaime Flores</h1>
						<h3>Full Stack Developer/Software Engineer</h3>
						<div class="slider">
						<div><a class="primary-btn">Site Running on Express/Nodejs</a></div>
						<div><a class="primary-btn">Using Bootstrap + Animate.css</a></div>
						<div><a class="primary-btn">Deployed on Heroku</a></div>
						 </div>
						
					</div>
				</div>
			</div>
		</div>

	</section>
	<!--================End Home Banner Area =================-->

	<!--================ Start Portfolio Area =================-->
	<section class="section_gap portfolio_area" id="work">
		<div class="container">
			<div class="row justify-content-center wow fadeIn" data-wow-duration="2s" >
				<div class="col-lg-6 text-center">
					<div class="main-title" >
						<h1>Latest Works</h1>
						<p>Dating from 2018 - present</p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="projects_fillter">
						<ul class="filter list">
							<li class="active" data-filter="*">All Categories</li>
							<li data-filter=".projects">Projects</li>
							<li data-filter=".edu">Education </li>
							<li data-filter=".internships">Internships</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="projects_inner row grid">
				<div class="grid-sizer col-sm-6 col-md-3 col-lg-3"></div>
				<div class="col-lg-6 col-sm-6 col-sm-12 projects grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="img/works/donna-logo.png" alt="">
						<div class="projects_text">
							<a href="/project-donna">
								<h4>dev.secure.cityofdonna.org</h4>
							</a>
							<p>Water Utility Web Application</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 col-sm-12 brand projects grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="img/works/tob-logo.jpg" alt="">
						<div class="projects_text">
							<a href="/project-tob">
								<h4>takeout-buddy.com</h4>
							</a>
							<p>Web API integrated with WooCommerce</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 brand internships projects grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="img/works/rgvta-logo.jpg" alt="">
						<div class="projects_text">
							<a target="_blank" href="https://rgvta.org/">
								<h4>rgvta.org</h4>
							</a>
							<p>Practicum to develop Wordpress Site (web page coming soon)</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 projects grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="img/works/swarm-logo.png" alt="">
						<div class="projects_text">
							<a href="/project-swarm">
								<h4>iswarm.net</h4>
							</a>
							<p>Oil Well Monitoring Web Application</p>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 brand edu grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="img/works/utrgv-logo.png" alt="">
						<div class="projects_text">
							<a>
								<h4>UTRGV</h4>
							</a>
							<p>BS in Computer Science</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 brand internships edu grid-item">
					<div class="projects_item">
						<img class="img-fluid w-100" src="img/works/ecolors-logo.webp" alt="" style="background-color: black;">
						<div class="projects_text">
							<a target="_blank" href="https://www.ecolorsineducation.org/">
								<h5 style="color: white;">ecolorsineducation.org</h5>
							</a>
							<p>Internship at UTRGV to design Wordpress Site (Web Page coming soon)</p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!--================ End Portfolio Area =================-->

	<!--================ Start About Area =================-->
	<section class="about-area section_gap gray-bg">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-5 about-right">
					<img class="img-fluid" src="img/home/home-slide-4.png" style="border-radius: 20%;" alt="">
				</div>
				<div class="col-lg-6 col-md-12 about-right">
					<div class="main-title text-left">
						<h1>about myself</h1>
					</div>
					<div class="mb-50 wow bounceInRight" data-wow-duration=".9s">
						<p>
							I was born and raised in Mission, Texas and have never felt more at home anywhere else. I am currently employed at a local start up known as Perficientur LLC and have been working as a Full Stack Developer/Software Engineer for the past year and nine months. I am dedicated to the work I produce and I am constantly taking it upon myself to learn more about upcoming technology that would aid projects in scalability/cost.
						</p>
					</div>
					<!--<a href="#" class="primary-btn">More Info</a>-->
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Area =================-->



<% include footer.ejs %> 
	
<script type="text/javascript">
  $('.owl-carousel').owlCarousel({
  	mouseDrag: false,
  	pullDrag: false,
  	touchDrag: false
  });
  $('.slider').slick({
	    slidesToShow: 1,
	    slidesToScroll: 1,
	    autoplay: true,
  		autoplaySpeed: 2000,
  		pauseOnFocus: false, 
  });
		new WOW().init();
</script>

  </body>
</html>
