<% include header.ejs %>


	<header class="header_area">
		<div class="main_menu">
		<% include navbar.ejs %>
		</div>
	</header>

	<!--================ Start portfolio Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-right">
					<h1>Project - SWARM</h1>
					<div class="page_link">
						<a >Oil Well Monitoring Web Application</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================ End Portfolio Banner Area =================-->

	<!--================ Start Portfolio Details Area =================-->

	<section class="portfolio_details_area section_gap">
		<div class="container">
			<div class="portfolio_details_inner">
<div  id="_owl-carousel" class=" owl-carousel owl-theme owl-loaded" >
							<div  class="row">
								<div class="col-md-7">
									<div class="left_img">
										<div class="slider">
											<div><img class="img-fluid" src="img/works/project-swarm-1.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-2.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-0.png" alt=""></div>

										</div>
									</div>
								</div>
								<!--================= Project SLIDER ==================== -->
								<div class="offset-md-1 col-md-4">
									<div class="portfolio_right_text mt-30">
										<h4>JWT Authentication for Login</h4>
										<p>I was responsible for setting up the JWT authentication used for logging a user on to the site, storing JWT token, and storing the users session. This was done on the Angular 2 app used for project. Was also responsible for setting up the DNS with A address <a target="_blank" href="http://livedemo.iswarm.net/"> livedemo.iswarm.net </a> on the live server with <a target="_blank" href="https://www.nginx.com/">NGINX </a>.</p>
										<ul class="list">
											<li><span>Code Used</span>: <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/jwt-authentication/frontend/auth.service.ts">auth.service.ts</a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/jwt-authentication/frontend/jwt.interceptor.ts"> jwt.interceptor.ts</a>, <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/jwt-authentication/frontend/login.component.html">login.component.html </a>, <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/jwt-authentication/frontend/login.component.ts">login.component.ts</a>, <a target="_blank" href="">swarm.conf </a></li>
										</ul>

									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-7">
									<div class="left_img">
										<div class="slider">
											<div><img class="img-fluid" src="img/works/project-swarm-3.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-5.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-6.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-7.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-8.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-9.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-10.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-11.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-12.png" alt=""></div>




										</div>
									</div>
								</div>
								<div class="offset-md-1 col-md-4">
									<div class="portfolio_right_text mt-30">
										<h4>Setting up the Alert Component</h4>
										<p>One of the main features of this web application is to notify a set of users when custom set readings are transmitted from a Well Monitoring device to the listening endpoint on the Web Api. I was responsible for creating the Angular 2 components used to manage alerts. I was also required to setup the backend routes that send paginated data to view Alerts/Devices. I was also required to create the unique design that allows a user to create an alert for a specific device, by filtering the Zone, Hub, and Node.</p>
										<ul class="list">
											<li><span>Code Used</span>:  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/frontend/alert-configuration.component.html"> alert-configuration.component.html </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/frontend/alert-configuration.component.ts"> alert-configuration.component.ts </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/frontend/alert-notification.component.ts">alert-notification.component.ts </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/frontend/alerts.service.ts">alert.service.ts </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/frontend/create-alert.component.ts">create-alert.component.ts </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/frontend/update-alert-settings.component.ts">update-alert-settings.component.ts </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/backend/alertSettingsFactory.js">alertSettingsFactory.js </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/backend/alertSettings.js">alertSettings.js </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/backend/alertRoutes.js">alertRoutes.js </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/backend/alertProtocols.js">alertProtocols.js </a>,  <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/backend/alertPTypes.js">alertPTypes.js </a>, <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/alerts-module/backend/alert.js"> alert.js </a></li>
										</ul>

									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-7">
									<div class="left_img">
										<div class="slider">
											<div><img class="img-fluid" src="img/works/project-swarm-14.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-15.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-16.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-17.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-18.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-swarm-19.png" alt=""></div>


										</div>
									</div>
								</div>
								<div class="offset-md-1 col-md-4">
									<div class="portfolio_right_text mt-30">
										<h4>Database Schema Updates</h4>
										<p>In order to complete much of the Alerts functionality on the site I was required to make modfications to the original database schema used on previous SWARM project, mostly concerning how the schema was setup to store the custom sensor reading values (limits) used to trigger an alert. There were also significant changes needed on the Web Api and DB schema after permissions were setup per device. </p>
										<ul class="list">
											<li><span>Code Used</span>: <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/swarm/database-updates/backend/create.sql">create.sql</a></li>
										</ul>

									</div>
								</div>
							</div>
							<!--=================/ Project SLIDER ==================== -->
			</div>
			
				<p> This project is currently being developed and was started as a reboot of the original SWARM project that had begun in Columbia. The main purpose for this web application is to monitor Oil Well Equipment in a remote area and be able to signal alerts when specific readings are met, in real-time. The project also was developed to manage devices that are used to monitor Oil Well Equipment such as Hubs, Nodes, and Sensors. This is used by the Staff in Columbia to determine the locations of their devices and be able to use a Map based view developed with Arcgis to easily find devices in a remote area.</p>

			</div>

		</div>

		<!-- Set up your HTML -->

	</section>
	<!--================ Start Portfolio Details Area =================-->

<% include footer.ejs %>


<script>
$( document ).ready(function() {

 //$('.owl-carousel').owlCarousel();

//$('#_slide_1_carousel').owlCarousel();
 $("#_owl-carousel").owlCarousel({
 		items: 1,
        loop:true,
        margin:10,
	   autoplay:true,
	   autoplayTimeout:18000,
	   autoplayHoverPause:true,
        nav:true,
      navText: ['<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>', '<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>']
});


  $('.slider').slick({
     	dots: true,
	    vertical: true,
	    slidesToShow: 1,
	    slidesToScroll: 1,
	    verticalSwiping: true,
	    autoplay: true,
  		autoplaySpeed: 2000,
  });
  
});

</script>


  </body>
</html>
