<% include header.ejs %>


	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand" href="/"><img src="img/logo.png" alt="" style="width: 54px; height: 60px;"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
							<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
							<li class="nav-item submenu dropdown">
								<a class="nav-link" href="#">Portfolio</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="portfolio.html">Portfolio</a></li>
									<li class="nav-item"><a class="nav-link" href="portfolio-details.html">Portrfolio Details</a>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Pages</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a>
								</ul>
							</li>
							<li class="nav-item submenu dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false">Blog</a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="/users">Blog</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
								</ul>
							</li>
							<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>

	<!--================ Start portfolio Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-right">
					<h1>Project - Donna Water Utilities</h1>
					<div class="page_link">
						<a href="index.html">Home</a>
						<a href="portfolio.html">Portfolio</a>
						<a href="portfolio-details.html">Details</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--================ End Portfolio Banner Area =================-->

	<!--================ Start Portfolio Details Area =================-->

	<section class="portfolio_details_area section_gap">
		<div class="container">
			<div class="portfolio_details_inner">
<div  id="_owl-carousel" class=" owl-carousel owl-theme owl-loaded" >
							<div  class="row">
								<div class="col-md-7">
									<div class="left_img">
										<div class="slider">
											<div><img class="img-fluid" src="img/works/project-donna-2.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-1.png" alt=""></div>
										</div>
									</div>
								</div>
								<!--================= Project SLIDER ==================== -->
								<div class="offset-md-1 col-md-4">
									<div class="portfolio_right_text mt-30">
										<h4>Guest Support Ticket Feature </h4>
										<p>The Donna Water Utiliies site has a feature that allows citizens to report issues to the city through Support Tickets. This feature was previously designed for enrolled users and not avaialable non-registered users. Currently, the site now has a Guest Support Ticket feature made available on the Donna Homepage, which allows citizens to report Water related incidents/issues to the city.</p>
										<ul class="list">
											<li><span>Code</span>: <a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/donna/guest-ticket/guest-ticket.service.ts">guest-ticket.service.ts</a>
											<a target="_blank" href="https://github.com/opiatamus79/express-portfolio/blob/master/public/code-docs/donna/guest-ticket/guest-ticket.service.ts">tickets-snippet.js</a>
											</li>
											<li><span>Website</span>: colorlib.com</li>
											<li><span>Swagger Documentation</span>: 17 Aug 2018</li>
										</ul>

									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-7">
									<div class="left_img">
										<div class="slider">
											<div><img class="img-fluid" src="img/works/project-donna-3.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-4.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-5.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-5.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-7.png" alt=""></div>

										</div>
									</div>
								</div>
								<div class="offset-md-1 col-md-4">
									<div class="portfolio_right_text mt-30">
										<h4>Customer Registration</h4>
										<p>I was responsible for setting up the routes on the backend that handled creating a user entity on the database and creating an account entity on the database and linking the both the account of the user and their account information on the backend.</p>
										<ul class="list">
											<li><span>Code</span>: colorlib</li>
											<li><span>Work Setup</span>: Frontend/Backend</li>
											<li><span>Swagger Documnetation</span>: 17 Aug 2018</li>
										</ul>

									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-7">
									<div class="left_img">
										<div class="slider">
											<div><img class="img-fluid" src="img/works/project-donna-8.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-9.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-10.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-11.png" alt=""></div>

										</div>
									</div>
								</div>
								<div class="offset-md-1 col-md-4">
									<div class="portfolio_right_text mt-30">
										<h4>Customer Dashboard</h4>
										<p>I was responsible for connecting the data that had been retrieved from the backend to the fronted, I was also required to make updates to the backend and correct queries made to retrieve a customers payment history to be able to process the data on the frontend.</p>
										<ul class="list">
											<li><span>Code</span>: colorlib</li>
											<li><span>Website</span>: colorlib.com</li>
											<li><span>Swagger Documentation</span>: 17 Aug 2018</li>
										</ul>

									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-7">
									<div class="left_img">
										<div class="slider">
											<div><img class="img-fluid" src="img/works/project-donna-12.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-13.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-14.png" alt=""></div>
											<div><img class="img-fluid" src="img/works/project-donna-15.png" alt=""></div>

										</div>
									</div>
								</div>
								<div class="offset-md-1 col-md-4">
									<div class="portfolio_right_text mt-30">
										<h4>Customer - Support Tickets</h4>
										<p>I was responsible for creating the CRUD routes for the Support Tickets module. The CRUD routes includes Updating the Ticket with comments. I was also responsible for creating the HTML template that is used for the page.</p>
										<ul class="list">
											<li><span>Code</span>: colorlib</li>
											<li><span>Website</span>: colorlib.com</li>
											<li><span>Swagger Documentation</span>: 17 Aug 2018</li>
										</ul>

									</div>
								</div>
							</div>
							<!--=================/ Project SLIDER ==================== -->
			</div>
			
				<p>The Donna Water Utlities project is a website desgined with Angular 2 (Angular Cli/Typescript) for the Frontend, Expressjs/Nodejs (javascript) for the Backend, Postgresql for the Database, Sendgrid for email, and Swagger for the API documentation. The project was initially designed to help aid the staff with their current workflow and allow them to support customers in a way that quickly resolves issues in the city. Staff members would be given the ability to: Review Citizen Registration and Process Documents online, View Customer Support tickets, Post Comments on a specific ticket, Submit/Process Work Orders,  and Edit details about a ticket, have real-time access to conversations via a Communication module, and view profiles of users/staff on the site. </p>
				<p> Customers would also be given access to the site and be allowed to: Pay for their Water bills, View annual/monthly data on water usage and billing, Submit support tickets, and access payment options/account information.
					</p>
			</div>

		</div>

		<!-- Set up your HTML -->

	</section>
	<!--================ Start Portfolio Details Area =================-->

<% include footer.ejs %>


<script>
$( document ).ready(function() {

 //$('.owl-carousel').owlCarousel();

//$('#_slide_1_carousel').owlCarousel();
 $("#_owl-carousel").owlCarousel({
 		items: 1,
        loop:true,
        margin:10,
	   autoplay:true,
	   autoplayTimeout:18000,
	   autoplayHoverPause:true,
        nav:true,
      navText: ['<i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>', '<i class="fa fa-angle-right fa-2x" aria-hidden="true"></i>']
});


  $('.slider').slick({
     	dots: true,
	    vertical: true,
	    slidesToShow: 1,
	    slidesToScroll: 1,
	    verticalSwiping: true,
	    autoplay: true,
  		autoplaySpeed: 2000,
  });
  
});

</script>


  </body>
</html>
